* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PostsSection {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.postContainer {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 1rem auto;
}